@import './font.css';

.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  display: flex;
  
}

.main {
  width: 65%;
}

.hello {
  font-size: 5rem;
  font-family: 'NunitoSans';
}

.name {
  font-size: 200px;
  margin-left: 1rem;
  font-family: 'Inter', sans-serif;
}

.lname {
  font-size: 200px;
  margin-left: 40%;
  font-family: 'Inter', sans-serif;
}

.underline {
  border-bottom: 5px solid #6C6C6C;
  width: 99%;
  margin-top: 2rem;
}

.position {
  font-size: 4rem;
  font-family: 'NunitoSans';
  text-align: center;
}


@media screen and (max-width: 480px) {
  .hello {
    font-size: 30px;
  }
  .name,
  .lname {
    margin-top: 25px;
    font-size: 60px;
  }
  
  .position {
    font-size: 30px;
    margin-top: 25%;
    font-weight: bold;
  }
  .container {
    height: 600px;
  }
}