@import './font.css';

.main{
    height: 1000px;
    width: 100%;
    margin-top: 20%;
}
.choice{
    display: flex;
    margin-top: 10%;
    font-family: 'NunitoSans';
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.selectchoice{
  max-width: 25%;
  margin-left: 5%;
}
.app1img,.app2img,.app3img{
    width: 100%;
    transition: box-shadow 0.3s ease;
    border-radius: 30px;
}
.papp{
  text-align: center;
}


.app1img:hover {
    box-shadow: 0 20px 15px rgba(203, 146, 15, 0.4);
  }
  .app2img:hover{
    box-shadow: 0 20px 15px rgba(13, 123, 192, 0.4);
  }
  .app3img:hover{
    box-shadow: 0 20px 15px rgba(195, 29, 203, 0.4);
  }


  @media (max-width: 768px) {
    
  
    .choice {
      margin-top: 40%;
      font-size: 16px;
      display: grid;
    }
  
    .app1img,
    .app2img,
    .app3img {
      width: 80%;
    }
    .margin1,.margin2,.margin3{
      margin-top: 5%;
      margin-bottom: 10%;
      margin-left: -15%;
      text-align: center;
    }
  }