@import './font.css';

.main{
  height: 1000px;
  width: 100%;
  margin-top: 20%;
}
.choice{
  display: flex;
  margin-top: 10%;
  margin-left: 15%;
  font-family: 'NunitoSans';
  font-weight: 600;
  font-size: 20px;
}

.selectchoice {
  margin-left: 7.5%;
}

.web1img,
.app2img,
.web3img {
  width: 80%;
  transition: box-shadow 0.3s ease;
  border-radius: 30px;
  margin-left: 10%;
}

.web1img:hover {
  box-shadow: 0 10px 10px rgba(203, 146, 15, 0.4);
}

.app2img:hover {
  box-shadow: 0 10px 10px rgba(13, 123, 192, 0.4);
}

.web3img:hover {
  box-shadow: 0 10px 10px rgba(12, 0, 13, 0.4);
}

.pmargin{
  text-align: center;
}

@media (max-width: 768px) {
    
  
  .choice {
    margin-top: 30%;
    font-size: 16px;
    display: grid;
  }

  .selectchoice {
    margin-left: -20%;
  }
  .main{
    height: 50%;
  }
}

